.liquid-ether-container {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  touch-action: none;
}

.liquid-ether-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
